/* ==========================
=============================
           ASIDE
=============================
=============================*/

aside {
    background-color: black;
    width: 48px;
    flex-direction: column;
}