/* ==========================
=============================
           HEADER
=============================
=============================*/

header {
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    left: 48px;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: flex-end;
    align-items: center;
}

header .upgrade-btn {
    
}