/* ==========================
=============================
          VARIABLES
=============================
=============================*/

:root {
    
    /*--------------------
    ----------------------
          BG COLORS
    ----------------------
    ----------------------*/

    --main-color: #141922 ;
    --footer-color: #282828 ;
    --user-color: #808080 ;
    --player-color: #5a5a5a ;
    --evidence-color: #adff2f ;
    --no-select-color: #d2d2d2 ;

    /*--------------------
    ----------------------
          FONT COLORS
    ----------------------
    ----------------------*/

    --sub-title: #696b70 ;

}
